footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
  min-height: 200px;
}

footer .footer p {
  margin: 0;
}

footer .section-main-image img {
  width: 320px;
  height: auto;
  float: right;
  margin-left: 32px;
}
